/.github/ export-ignore
/docs/ export-ignore
/test/ export-ignore

/.gitignore export-ignore
/.laminas-ci.json export-ignore
/.gitattributes export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml export-ignore
/psalm-baseline.xml export-ignore
/mkdocs.yml export-ignore
