<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
>
    <testsuites>
        <testsuite name="laminas-paginator Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
